body{
    background-color: black;
    color: white;
}

header{
    
    display: flex;
    justify-content: space-between;  
    align-items: center;            
    padding: 20px 75px;              
}



.menu{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    font-size: 120%;
    list-style-type: none;
    display: flex;
    gap: 50px;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu a:hover {
    opacity: 0.7;
}


.myname{
    font-family:Georgia, 'Times New Roman', Times, serif;
     font-size: 400%;
      justify-content: left;
    display: flex;
   

}

.Emphasis img, .Space img, .Repetition img {
    margin-top: 50px;
    width: 100%;
    max-width: 600px;   
    height: auto;
    border-radius: 10px;   
}

.col-sm {
    display: flex;
    justify-content: center;
    align-items: center;
}



.Space{
    margin-top: 25px;
}

.aboutme{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 100px 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}

.col-left{
    margin-right: 30px;
}

.col-right{

    margin-left: 30px;
}

.aboutlogo{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    scale: 3;
    margin-top: 60px;
}

