body{
    background-color: black;
    color: white;
}

header{
    margin-top: 50px;
    justify-content: center;
    display: flex;
}

.menu{
    font-style: italic;
    text-align: center;
    font-size: 120%;
    list-style-type: none;
    display: flex;
    gap: 50px;
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -5px;
    margin-left: 40px;
    font-size: 500%;
    text-align: center;

}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px;
    padding-right: -200px;
    margin-top: 150px;
}

.grid img {
    width: 100%;
    border-radius: 10px;
}

.Repetition{
   
    
}

.Space{
    margin-left: 50px;
}

.Emphasis{
    margin-left: 30px;
    scale: 0.95;
}


