
body {
    background-color: black;
    color: white;
}

header {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

.myname {
    font-family: "futura-100", sans-serif;
    font-weight: 525;
    font-style: normal;
    font-size: 300%;
    margin: 0;
    display: flex;
}

.myname a {
    text-decoration: none;
    color: white;
}

.menu {
    font-family: "futura-100", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 100%;
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 10px 0 10px 10px;
    padding: 0;
    text-align: center;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu a:hover {
    opacity: 0.7;
}



.aboutme {
    width: 100%;
    margin: 0 auto;
    padding: 20px 300px;         
    text-align: center;
    font-family: "century-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}



.aboutlogo, .reflectionlogo {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: "futura-100", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 2rem;
    padding: 20px;
    text-decoration: underline;
    
}




.robottext {
    padding: 20px;
    margin: 0 auto;
    font-family: "century-gothic", sans-serif;
    line-height: 1.5;
}




