
body {
    background-color: black;
    color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap; 
}

.myname {
    font-family: "futura-100", sans-serif;
    font-weight: 525;
    font-style: normal;
    font-size: 300%;
    margin: 0;
    display: flex;
}

.myname a {
    text-decoration: none;
    color: white;
}

.menu {
    font-family: "futura-100", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 100%;
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 10px 0 0 0;
    padding: 0;
    text-align: center;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu a:hover {
    opacity: 0.7;
}


.Emphasis img, .Space img, .Repetition img {
    margin-top: 50px;
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
}

.col-sm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Space {
    margin-top: 25px;
}

.aboutme {
    width: 100%;
    margin: 0 auto;
    padding: 20px;         
    text-align: left;
    font-family: "century-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}


.col-left {
    margin: 0;
}

.col-right {
    margin: 0;
}


.aboutlogo,
.reflectionlogo {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: "futura-100", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 2rem;
    margin-top: 50px;
    text-decoration: underline;
}


.fourth {
    scale: 0.6;
    margin: 0 auto;
}

.robottext {
    padding: 20px;
    margin: 0 auto;
    font-family: "century-gothic", sans-serif;
    line-height: 1.5;
}



@media (max-width: 768px) {

    header {
        flex-direction: column;
        text-align: center;
        padding: 20px 10px;
    }

    .myname {
        font-size: 2rem;
        justify-content: center;
    }

    .menu {
        gap: 10px;
        font-size: 1rem;
    }

    .reflectionlogo {
        font-size: 1.6rem;
        margin-top: 30px;
    }

    .aboutme {
        padding: 15px;
        text-align: left;
    }

    .robottext {
        padding: 15px;
        margin: 0;
    }
}



@media (min-width: 992px) {
    .aboutme {
        padding: 40px 200px;
    }
}

@media (min-width: 1400px) {
    .aboutme {
        padding: 40px 350px; 
    }
}


img.img-fluid {
    border-radius: 10px;
}


.fourth-img {
    max-width: 100%;
    height: auto;
}


.robottext {
    padding: 10px;
    line-height: 1.5;
}

