body{
    background-color: black;
    color: white;
}

header{
    
    display: flex;
    justify-content: center;  
    margin: 0 auto;
    align-items: center;            
    padding: 20px 75px;              
}



.menu{
    font-family: "futura-100", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    font-size: 100%;
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin-top: 5px;

}

.menu a {
    text-decoration: none;
    color: white;
}

.menu a:hover {
    opacity: 0.7;
}


.myname{
    font-family: "futura-100", sans-serif;
    font-weight: 525;
    font-style: normal;
     font-size: 300%;
      justify-content: left;
    display: flex;
   

}

.myname a{
    text-decoration: none;
    color: white;
}

.Emphasis img, .Space img, .Repetition img {
    margin-top: 50px;
    width: 100%;
    max-width: 600px;   
    height: auto;
    border-radius: 10px;   
}

.col-sm {
    display: flex;
    justify-content: center;
    align-items: center;
}



.Space{
    margin-top: 25px;
}

.aboutme{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 40px 450px;
    font-family: "century-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    
}

.col-left{
    margin-right: 30px;
}

.col-right{

    margin-left: 30px;
}

.aboutlogo{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: "futura-100", sans-serif;
    font-weight: 400;
    font-style: italic;
    scale: 3;
    margin-top: 60px;
    text-decoration: underline;
}

.fourth{
    scale: 0.6;
    margin-top: -100px;
    margin-left: -315px;
}

.robottext{
    padding: 10px 350px;
    margin-left: 325px;
    margin-top: -400px;
    font-family: "century-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}



