body{
    background-color: black;
    color: white;
}

header{
    header {
    display: flex;
    justify-content: space-between;  
    align-items: center;            
    padding: 20px 75px;              
}

}

.menu{
   
    font-style: italic;
    text-align: center;
    font-size: 120%;
    list-style-type: none;
    display: flex;
    gap: 50px;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu a:hover {
    opacity: 0.7;
}


.myname{
    font-family:Georgia, 'Times New Roman', Times, serif;
     font-size: 400%;
      justify-content: left;
    display: flex;
   

}

.Emphasis img, .Space img, .Repetition img {
    margin-top: 50px;
    width: 100%;
    max-width: 600px;   
    height: auto;
    border-radius: 10px;   
}

.col-sm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first{

}

.second{
   
}

.third{
    scale: 1.05;
}

.aboutme{
    padding: 0px 60px;
}